body { 
    background: #f5f5f5f5; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

#custom-alert {
    top: 10px;
    position: fixed;
}

#signIn {
    background: white; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 3px; 
}

#message {
    background: white; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 3px; 
}
#message h2 {
    color: #ffa100; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px; 
}
#message h1 {
    font-size: 22px; 
    font-weight: 300; 
    color: rgba(0,0,0,0.6); 
    margin: 0 0 16px;
}
#message p { 
    line-height: 140%; 
    margin: 16px 0 24px; 
    font-size: 14px; 
}
#message a { 
    display: block; 
    text-align: center; 
    background: #039be5; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px; 
}

#message, #message a, #signIn { 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

p {
    text-align: center;
}

@media (max-width: 600px) {
    body, #message, #signIn {
        margin-top: 0; 
        background: white; 
        box-shadow: none; 
    }
    body { 
        border-top: 16px solid #ff00bf; 
    }
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  } 